@keyframes loading { 0% { transform: translateX(-100%); } 100% { transform: translateX(100%); } }
.animate-loading { animation: loading 1.5s ease-in-out infinite; }

@keyframes smoke { 
    0% { transform: translateY(0) scale(1); opacity: 0; } 
    50% { opacity: 0.2; } 
    100% { transform: translateY(-150px) scale(3); opacity: 0; } 
}
.smoke { position: absolute; bottom: -20px; width: 50px; height: 50px; background: white; border-radius: 50%; filter: blur(15px); animation: smoke 5s infinite ease-out; }

body { background-color: #020617; color: white; margin: 0; font-family: sans-serif; overflow-x: hidden; }
.hide-scroll::-webkit-scrollbar { display: none; }
